body {
  background-color: #09090A;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.body-background {
  background: linear-gradient(rgba(254, 42, 28, 0.04), rgba(9,9,10));
  height: 100vh;
}

.notify-card__passwordChanged {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 640px;
  height: 381px;
  border-radius: 12px;
  padding: 44px;
  box-sizing: border-box;
  background-color: #161616;
  border: 1px solid #2C2C2D;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
  width: 552px;
  height: 160px;
  text-align: center;
}

h3 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    margin-bottom: 26px; 
    text-align: center;
}

p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 32px;
  color: #9C9C9C;
}

button {
  width: 155px;
  height: 43px;
  border-radius: 8px;
  padding: 12px 44px;
  color: #18181A;
  font-weight: 600;
}