body {
  background-color: #09090A;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.body-background {
  background: linear-gradient(rgba(254, 42, 28, 0.04), rgba(9,9,10));
  height: 100vh;
}

.forgot-password {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card-change__password {
  height: 377px;
  width: 640px;
  background-color: #161616;
  border: 1px solid #2C2C2D;
  color: #fff;
  border-radius: 12px;
  padding: 44px;
  box-sizing: border-box;
}

.card1-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
}

p {
  font-size: 16px;
  color: #9C9C9C;
}

.campo-email {
  display: flex;
  flex-direction: column;
}

.campo-email label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.campo-email input {
  width: 552;
  height: 43px;
  border-radius: 8px;
  background-color: #1F1F20;
  border: 1px solid #2C2C2D;
  margin-bottom: 32px;
  padding: 12px 12px;
  box-sizing: border-box;
  color: #9C9C9C;
  font-size: 16px;
}

.reset-password__button {
  display: flex;
  flex-direction: row-reverse;
}

button {
  width: 221px;
  height: 43px;
  border-radius: 8px;
  border: 1px solid #000;
  color: #18181A;
  font-size: 16px;
  font-weight: 600;
}