body {
  background-color: #09090A;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.body-background {
  background: linear-gradient(rgba(254, 42, 28, 0.04), rgba(9,9,10));
  height: 100vh;
}

.new-password__form {
  width: 640px;
  height: 463px;
  border-radius: 12px;
  border: 1px solid #2C2C2D;
  background-color: #161616;
  box-sizing: border-box;
  padding: 44px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  margin-bottom: 32px;
}

.typing-new-password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.confirm-new-password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

label {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.typing-new-password input, .confirm-new-password input {
  width: 552px;
  height: 43px;
  padding: 12px;
  box-sizing: border-box;
  color: #9C9C9C;
  background-color: #1F1F20;
  border: 1px solid #2C2C2D;
  border-radius: 8px;
}

.button-save {
  display: flex;
  flex-direction: row-reverse;
}

button {
  width: 128px;
  height: 43px;
  border-radius: 8px;
  padding: 12px 44px;
  font-size: 16px;
  font-weight: 600px;
}